<!DOCTYPE html>
<html>
<head>
	<title>CSV Reduce - {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora|Poppins:600,700">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">CSV Reduce</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Documentation</a>
				</li>
			</ul>
		</div>
	</nav>

	<main role="main" class="container">

		{% block header %}{% endblock %}

		{% for message in get_flashed_messages() %}
		<div class="alert alert-secondary alert-dismissible fade show" role="alert">
			<strong>Holy guacamole!</strong> {{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endfor %}

		{% block content %}{% endblock %}

	</main>

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>